@charset "utf-8";

@font-face {
  font-family: 'Eskell-Stencil';
  src: url('fonts/EksellDisplayWeb-Stencil.eot'),
       url('fonts/EksellDisplayWeb-Stencil.woff2') format('woff2'),
       url('fonts/EksellDisplayWeb-Stencil.woff') format('woff');
       font-weight: normal;
}

$Stencil: 'Eskell-Stencil';

@font-face {
  font-family: 'Eskell-Med';
  src: url('fonts/EksellDisplayWeb-Large.eot'),
       url('fonts/EksellDisplayWeb-Large.woff2') format('woff2'),
       url('fonts/EksellDisplayWeb-Large.woff') format('woff');
       font-weight: normal;
}

$Med: 'Eskell-Med';

@font-face {
  font-family: 'Eskell-Sm';
  src: url('fonts/EksellDisplayWeb-Small.eot'),
       url('fonts/EksellDisplayWeb-Small.woff2') format('woff2'),
       url('fonts/EksellDisplayWeb-Small.woff') format('woff');
       font-weight: normal;
}

$Sm: 'Eskell-Sm';

@import url("//hello.myfonts.net/count/306f86");

  
@font-face {
  font-family: 'GillSansNova-Bold';
  src: url('fonts/306F86_0_0.eot');
  src: url('fonts/306F86_0_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/306F86_0_0.woff2') format('woff2'),
       url('fonts/306F86_0_0.woff') format('woff'),
       url('fonts/306F86_0_0.ttf') format('truetype');
}

$SansBold: 'GillSansNova-Bold'; 
  
@font-face {
  font-family: 'GillSansNova-Book';
  src: url('fonts/306F86_1_0.eot');
  src: url('fonts/306F86_1_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/306F86_1_0.woff2') format('woff2'),
       url('fonts/306F86_1_0.woff') format('woff'),
       url('fonts/306F86_1_0.ttf') format('truetype');
}
 
$Text: 'GillSansNova-Book';
  
@font-face {
  font-family: 'GillSansNova-BookItalic';
  src: url('fonts/306F86_2_0.eot');
  src: url('fonts/306F86_2_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/306F86_2_0.woff2') format('woff2'),
       url('fonts/306F86_2_0.woff') format('woff'),
       url('fonts/306F86_2_0.ttf') format('truetype');
}

$Italic: "$SansBold: 'GillSansNova-BoldItalic';";

$cream: #fcefcb;
$navy: black;
$blue: #6cd6cb;
$sky: #d1e7ce;
$skytwo: #c2e5e0;

// 

body {
  background-color: white;
  animation: fadein 2s;
  text-align: center;
  font-family: sans-serif;
  transition: ease .3s;
}

::selection {
  background: $blue;
}

h1 {
  font-family: $Stencil;
  font-size: 8em;
  color: white;
  font-weight: normal;
  margin: 0;
  line-height: 0.8em;
}

h2 {
  font-family: $Med;
  color: $navy;
  font-size: 2.2em;
  margin: 0;
  display: inline-block;
}

p {
  font-family: $Sm;
  color: $navy;
  margin: 0;
}

h1::selection {
  color: black;
  background: $blue;
}

h2::selection {
  color: blue;
}

h2:hover:before {
  content: "";
  height: 10px;
  width: 100%;
  background-color: red;
}

span {
  color: black;
}

span::selection {
  background: yellow;
}

a {
  text-decoration: none;
  color: $navy;
}

a:hover {
  color: black;
  transition: ease .5s;
}

a::selection {
  background-color: red;
}

a:after {
  content: "";
  height: 10px;
  width: auto;
}

.headline {
  height: 100vh;
  width: 50vw;
  float: left;
  position: static;
  background-color: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10101;
}

#layer1 { 
  background: url('/images/background_1a.png');
  width: 40vw;
  height: 80vh;
  margin: 10vh 5vw;
  float: left;
  // padding: 100%;
  -webkit-animation:bgscroll 500s infinite linear;
  position: fixed;
  overflow: hidden;
}

#layer2 { 
  background: url('/images/background_2a.png'); 
  width: 30vw;
  height: 62vh;
  margin: 19vh 10vw;
  float: left;
  position: fixed;
  -webkit-animation:bgscrolltwo 55s infinite linear;
}

.right {
  overflow: scroll;
  width: 50vw;
  float: right;

  .contents {
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow: scroll;

    h2 {
      text-align: left;
      color: black;
      margin: 0;
    }

    a {
      font-family: $SansBold;
    }

    .inner {
      
      a {
        appearance: none;
        font-family: $Med;
        color: $navy;
        // font-size: 2.2em;
        margin: 0;
        display: inline-block;
      }
    }

    p {
      font-family: $Text;
    }

  }

}

   // h2:before {
   //    content: "";
   //    display: block;
   //    position: absolute;
   //    height: 10px;
   //    width: 0;
   //    background: transparent;
   //    transition: width 3s ease;
   //    margin-top: .55em;
   //  }

   //  h2:hover:before {
   //    height: 10px;
   //    width: 100%;
   //    background: rgba(255,255,255,.75);
   //    display: inline-block;
   //  }
// animation

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:0 1920%;}
}

@-webkit-keyframes bgscrolltwo {
    from {background-position:0 0;}
    to {background-position:0 1920px;}
}