---
title: Dly Ops
---

<div class="headline">
	<div>
	  <h1>DLY<span>OPS</span></h1>
  </div>
</div>

<div class="right">
<div class="contents">
	<div class="inner">
		<h2>Design &<br>Development</h2>
			<p>
	  		<a href="mailto:frontdesk@dlyops.com?subject=Hello!" target="_top">Contact</a> · 
	  		<a href="/" target="_top">Instagram</a> · 
	  		<a href="/" target="_top">Twitter</a>
	  		<br><br>Los Angeles based design studio.
	  	</p>
	</div>
</div>
<div class="contents">
	<div class="inner">
		<h2>Project Name</h2>
			<p>
	  		It is a website. Made for a client.
	  	</p><br>
			<h2>Project Two</h2>
			<p>
	  		It is a website. Made for a client.
	  	</p><br>
	 		<h2>Project Three</h2>
			<p>
	  		It is a website. Made for a client.
	  	</p><br>
	</div>
</div>