<div class="headline">
	<div>
	  <h1>DLY<br>OPS</h1>
  </div>
</div>

<div id="layer1"></div>
<div id="layer2"></div>

<div class="right">
<div class="contents">
	<div class="inner">
		<h2>Design &<br>Development<br>Studio</h2>
			<p>
				based in Los Angeles.<br><br>
	  		<a href="mailto:frontdesk@dlyops.com?subject=Hello!" target="_top">contact</a> · 
	  		<a href="https://www.instagram.com/_dly_ops_/" target="blank">instagram</a> · 
	  		<a href="https://twitter.com/dlyops" target="blank">twitter</a>
	  	</p>
	</div>
</div>
<div class="contents">
	<div class="inner">
		<h2><a href="http://www.maupinrealtors.com" target="blank">maupinrealtors.com</a></h2>
			<p>
	  		website for real estate agency
	  	</p><br>
			<h2><a href="http://www.campfire.kitchen" target="blank">campfire.kitchen</a></h2>
			<p>
	  		food blog for camping recipes
	  	</p><br>
	 		<h2><a href="http://www.thesituationist.international" target="blank">thesituationist.international</a></h2>
			<p>
	  		flex-box experiemnt.
	  	</p><br>
		<h2><a href="https://www.behance.net/gallery/34782731/Logos-Vol1" target="blank">logos</a></h2>
			<p>
	  		selected brand and identity work
	  	</p><br>
		<h2><a href="https://www.behance.net/gallery/34782731/Logos-Vol1" target="blank">announcements & flyers</a></h2>
			<p>
	  		selected brand and identity work
	  	</p><br>
		<h2><a href="https://www.behance.net/gallery/34782731/Logos-Vol1" target="blank">rad & refined</a></h2>
			<p>
	  		selected marketing materials for fashion retailer
	  	</p><br>
	</div>
</div>